<div class="container">
  <footer class="py-1 my-2">
    <ul class="nav justify-content-center border-bottom pb-1 mb-2">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Jogos</a></li>
      <li class="nav-item"><a href="https://www.instagram.com/xnatx___/" class="nav-link px-2 text-muted">Instagram</a></li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/natancruzmendes/" class="nav-link px-2 text-muted">Linkedin</a></li>
      <li class="nav-item"><a href="https://github.com/NatanMendes0" class="nav-link px-2 text-muted">Github</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 Company, Inc</p>
  </footer>
</div>