  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="https://cdn-icons-png.flaticon.com/512/37/37942.png?w=360" width="30" height="30">  
      <h4>Marquinhos Games</h4>
      <img src="https://images.emojiterra.com/google/android-10/512px/1f90f-1f3fb.png" width="30" height="30">
    </a>
    <div class="col-md-3 text-end">
      <a class="btn btn-primary me-2" href="/login">Login</a>
      <a class="btn btn-primary" href="/cadastro">Cadastro</a>
      <a class="btn btn-primary" href="/login/logout">Logout</a>
    </div>
  </header>
