<!DOCTYPE html>
<html>

<head>
  <%- include('../head'); %>
</head>

<body>
  <header><%- include('../menu'); %></header>

  <div class="modal modal-signin position-static d-block bg-secondary py-4" tabindex="-1" role="dialog"
    id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4">
          <h1 class="fw-bold mb-0 fs-2">Login</h1>
        </div>
        <div class="modal-body p-5 pt-0">
          <% if(mensagem) { %>
            <h4>
              <%= mensagem %>
              <br>
            </h4>
            <%}%>
              <form action="/login" method="POST">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="Email"
                    name="email" required/>
                  <div class="invalid-feedback">
                      <p>
                          Campo obrigatório.<br>
                      </p>
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Senha"
                    name="senha" required/>
                  <div class="invalid-feedback">
                      <p>
                          Campo obrigatório.<br>
                      </p>
                  </div>
                </div>
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">
                  Entrar
                </button>
                <small class="text-muted">Ao clicar em "Entrar", você será redirecionado para a página inicial.
                </small>
              </form>
        </div>
      </div>
    </div>
  </div>

  <footer><%- include('../footer'); %></footer>
</body>

</html>